@import '../../styles/colors';

.movie-poster {
    .movie-poster__image {
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover,
        &:focus {
            outline-color: $primary;
            transform: scale(1.2);
        }
    }
}
