.movie-poster {
    .movie-poster__image {
        cursor: pointer;
        border-radius: 12px;
        transition: all 0.3s ease-in;
        &:hover {
            transform: scale(1.2);
        }
    }
}
